:root {
  --red: #FFADAD;
  --orange: #FFD6A5;
  --yellow: #FDFFB6;
  --green: #CAFFBF;
  --teal: #9BF6FF;
  --blue: #A0C4FF;
  --dark-blue: #0560d6;
  --purple: #BDB2FF;
  --dark-purple: #6043f4;
  --lite-purple: #cfc1fe;
  --pink: #FFC6FF;
  --white: #FFFFFC;
}