<section class="hero has-green-background">
  <div class="hero-body">
    <p class="title">
      Our Mission
    </p>
    <br>
    <p class="subtitle">
      SEKWIN is focused on seven core issues: constitutional equality, reproductive rights and justice, racial justice, LGBTQ+ rights, ending domestic violence, economic justice, and environmental stewardship advocacy. 
    </p>
    <p class="subtitle">
      This purpose includes, but is not limited to, acknowledging the differences among women and how overlapping identities impact oppression and discrimination, equal rights, and responsibilities in all aspects of citizenship, public service, employment, education, family life, and freedom from discrimination because of race, ethnic origin, age, marital status, gender identity, or parenthood.
    </p>
  </div>
</section>
