<nav class="navbar has-white-background" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item navbar-icon">
      <img class="navbar-icon" src="../assets/rainbow-flag-big.png">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu" [ngClass]="showMenu?'is-active':''">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" (click)="toggleMenu(false)">
        Home
      </a>
      <a class="navbar-item" routerLink="/mission" (click)="toggleMenu(false)">
        Mission
      </a>
      <a class="navbar-item" routerLink="/contact" (click)="toggleMenu(false)">
        Contact
      </a>
      <a class="navbar-item" routerLink="/donate" (click)="toggleMenu(false)">
        Donate
      </a>
    </div>
  </div>
</nav>
<div class="container is-max-widescreen app-container">
  <section class="hero">
    <div class="hero-body">
      <p class="title has-dark-purple-text">
        SEKWIN
      </p>
      <p class="subtitle has-dark-purple-text">
        Southeast Kansas Women's Intersectional Network
      </p>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>
