
<div class="columns">
  <div class="column">
    <section class="hero has-red-background">
      <div class="hero-body">
        <h1 class="title">
          Meet With Us
        </h1>
        <div class="block">
          We currently meet the first Wednesday of the month at 6 p.m. at Pittsburg Public Library.
          </div>
        <div class="block"> 
          <a href="https://goo.gl/maps/QP3Frnf79F6Fvt8A6" target="_blank">Google Maps</a>&nbsp;&nbsp;
          <a href="https://maps.apple.com/?address=308%20N%20Walnut%20St,%20Pittsburg,%20KS%20%2066762,%20United%20States&auid=8030352594076639164&ll=37.410540,-94.707309&lsp=9902&q=Pittsburg%20Public%20Library&_ext=CjIKBQgEEOIBCgQIBRADCgQIBhANCgQIChAACgQIUhAHCgQIVRAQCgQIWRAGCgUIpAEQARImKRewiWL5s0JAMZZYWDShrVfAOZWFr74ftUJAQQw78ujnrFfAUAQ%3D" target="_blank">Apple Maps</a>
        </div>
      </div>
    </section>
    <section class="hero has-orange-background">
      <div class="hero-body">
        <h1 class="title">
          Social
        </h1>
        <div class="block">
          <a href="https://facebook.com/groups/sekwin/" target="_blank">Facebook</a>&nbsp;&nbsp;
          <a href="https://twitter.com/sekwin" target="_blank">Twitter</a>&nbsp;&nbsp;
          <a href="https://instagram.com/sekwin" target="_blank">Instagram</a>
        </div>
      </div>
    </section>
  </div>
  <div class="column">
    <div 
      class="fb-group" 
      data-href="https://www.facebook.com/groups/sekwin/" 
      data-width="500" 
      data-show-metadata="true">
        <blockquote cite="https://www.facebook.com/groups/sekwin/" class="fb-xfbml-parse-ignore">SEKWIN</blockquote>
    </div>
  </div>
</div>

