<section class="hero has-teal-background">
  <div class="hero-body">
    <p class="title">
      Support Us
    </p>
    <br>
    <p class="subtitle">
      If you would like to join SEKWIN as a member or support the group's goals financially, please feel free to join us and donate! 
      <br>
      <br>
      Dues are $60 for the year, or $5 for a month ($5 per month up to the current month to be an active member) and can be paid in person at meetings, by mail to our P.O Box, or online at paypal.me/sekwin. 
      <br>
      <br>
      If you have any questions, please feel free to message the group.
    </p>
    <p>
      <a href="https://www.paypal.com/paypalme/sekwin" target="_blank">
        paypal.me/sekwin
      </a>
    </p>
  </div>
</section>
